<title><%= title %></title>

<h1><%= title %></h1>

<%# messages() %>

<%#if (errors) { %>
  <!-- <ul class="notice"> -->
 <%# errors.array().forEach(error => { %>
   <!-- <li><%# error.msg %></li> -->
<%#  }) %>
 <!-- </ul> -->
<%# } %>
   
   
   
   <!-- Welcome Message -->
  <h2 class="welcome">Welcome Back, <%= accountData.account_firstname %></h2>
   
  <!-- Update Account Section (Shown to All Users) -->
  <p class="update-info">
    <a class="update-account" href="/account/update/<%= accountData.account_id %>">Update Account Information</a>
  </p>
   
  <!-- Inventory Management Section (Admins and Employees Only) -->
  <% if (accountData.account_type === "Admin" || accountData.account_type === "Employee") { %>
    <h3 class="inv-manage">Inventory Management</h3>
    <p>
      <a class="inv" href="/inv/">Manage Inventory</a>
    </p>
  <% } %>
   
  
  <div>
    <h3 class="review">Reviews</h3>
    <% if (accountReviews.length > 0) { %>
      <% accountReviews.forEach((review) => { %>
        <div class="accountReviews">
      <p><%= review.inv_make %> <%= review.inv_model %></p>
      <p><%= review.review_content %></p>
      <p><%= review.review_timestamp %></p>
      <div class="reviewEditandDelete">
        <a class="reviewActionIcon" title="Edit Review" href="/review/editReview/<%= review.review_id%>">Edit</a>
        <a class="reviewActionIcon" title="Delete Review" href="/review/deleteReview/<%= review.review_id %>">Delete</a>
      </div>
    </div>
      <% }) %>
    <% } else { %>
      <p class="small-message">This account doesn't have reviews on any cars yet</p>
    <% } %>
  </div>