
    <h1><%= title %></h1>

    <% if (messages.error) { %>
        <div class="flash-message"><%= messages.error %></div>
    <% } %>
<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>



    <form action="/account/register" method="POST">

        <label for="account_firstname" class="required">First Name:</label>
        <input type="text" name="account_firstname" id="account_firstname" required value="<%= locals.account_firstname %>">

        <label for="account_lastname" class="required">Last Name:</label>
        <input type="text" name="account_lastname" id="account_lastname" required value="<%= locals.account_lastname %>">

        <label for="account_email" class="required">Email:</label>
        <input type="email" name="account_email" id="account_email" required value="<%= locals.account_email %>">

        <label for="account_password" class="required">Password:</label>
          <input type="password" id="account_password" name="account_password" 
           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" 
           required /><br /><br />
           
        <div>
            <small>
                <strong>Password must:</strong><br>
                - Be at least <strong>12 characters</strong> long<br>
                - Contain at least <strong>1 capital letter</strong><br>
                - Contain at least <strong>1 number</strong><br>
                - Contain at least <strong>1 special character</strong><br>
            </small>
        </div>

        <button type="submit">Register</button>
    </form>
</body>
</html>
