<title><%= title %></title>

<h1><%= title %></h1>

<%- messages() %>

<p class="confirmation-note">Confirm Deletion - The delete is permanent.</p>


<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/inv/delete" method="POST" id="deleteInventoryForm">

    
  <label for="inv_make">Make:</label>
  <input type="text" id="inv_make" name="inv_make" value="<%= locals.inv_make %>"  readonly />

  <label for="inv_model">Model:</label>
  <input type="text" id="inv_model" name="inv_model" value="<%= locals.inv_model %>"  readonly/>

  <label for="inv_year">Year:</label>
  <input type="number" id="inv_year" name="inv_year" value="<%= locals.inv_year %>" readonly/>

  <label for="inv_price">Price:</label>
  <input type="number" step="0.01" id="inv_price" name="inv_price" value="<%= locals.inv_price %>" readonly/>

  <!-- Delete Confirmation -->
  <p class="warning">Are you sure you want to delete this vehicle? This action cannot be undone.</p>

  <button type="submit" class="delete-btn">Confirm Delete</button>

  <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>

</form>


