<div id="vehicle_details">
  <% if (title) { %>
  <h1 id="vehicle_header"><%= title %></h1>
  <% } else { res.redirect('/') } %> <%# messages() %> <%- content %>

  <div class="reviewsSectionTitle">
    <h2 class="vehicle-reviews">Vehicle Reviews</h2>
    
  </div>
  <div class="vehicleReviewsSection">
    <div class="vehicleReviews">
      <ul>
        <% if (reviewData.length > 0) { %> <% reviewData.forEach((review) => {
        %>
        <li>
          <div class="reviewerInfo">
            <p><i class="reviewer-name"></i><%= review.reviewer_name %></p>
            <p><%= review.review_timestamp %></p>
          </div>
          <p><%= review.review_content %></p>
        </li>
        <% }) %> <% } else { %>
        <p>No reviews yet</p>
        <% } %>
      </ul>
    </div>
  </div>

  <div id="reviewForm">
    
    <form action="/review/addReview" method="POST">
        <p class="review-here">Add your review here</p>
      <input type="hidden" name="inv_id" value="<%= vehicle_id %>" />
      <input type="hidden" name="account_id" value="<%= account_id %>" />
      <div>
        <label for="reviewer_name">Your Name:</label>
        <input type="text" id="reviewer_name" name="reviewer_name" required />
      </div>
      <div>
        <label for="review_content">Your Review:</label>
        <textarea
          id="review_content"
          name="review_content"
          rows="4"
          columns="50"
          required
        ></textarea>
      </div>
      <div>
        <button type="submit">Submit Review</button>
      </div>
    </form>
  </div>
</div>
